a {
    text-decoration: none;
  }
  
  body {
    color: #FFFCFC;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
    font-family: 'Segoe Ui', 'Sans-serif';
  }
  
  .background1 {
    position: relative;
    width: 100vw;
    height: 1443px;
    background: linear-gradient(to right, #4C4CE6, #FF00CC);
    overflow: hidden;
  }
  
  .background1 .rectangle1 {
    position: absolute;
    width: 103vw;
    height: 36vh;
    top: 34vh;
    left: -8vw;
    background-color: linear-gradient(to right, #2C05F0, #B200FF);
    transform: rotate(-10deg);
    box-shadow: -8px 28px 19px rgba(0, 0, 0, 21%);
  }
  
  .background1 .rectangle2 {
    position: absolute;
    width: 103vw;
    height: 36vh;
    top: 42vh;
    left: 20vw;
    background-color: linear-gradient(to right, #5312E8, #B200FF);
    transform: rotate(50deg);
    box-shadow: -8px 28px 19px rgba(0, 0, 0, 21%);
  }
  

  .background1 .back-rec1 {
    position: absolute;
    background-color: transparent;
    width: 28vw;
    height: 50vh;
    border: 16px solid rgba(255,255,255,21%);
    left: -5vw;
    top: 68vh;
    transform: rotate(25deg);
  }
  
  .background1 .back-rec2 {
    position: absolute;
    background-color: transparent;
    width: 37vw;
    height: 65vh;
    border: 16px solid rgba(255,255,255,21%);
    left: 80vw;
    top: 7vh;
    transform: rotate(25deg);
  }
  
  .background1 .text-rec {
    position: absolute;
    background-color: transparent;
    width: 276px;
    height: 327px;
    left: 0px;
    right: 0px;
    margin: 37.6vh auto;
    border: 18px solid #FFFCFC;
  }
  
  .background1 .text-rec .text {
    position: absolute;
    text-align: center;
    top: 27.5px;
    left: 45px;
    color: #FFFCFC;
    font-size: 116px;
    font-weight: 700;
    line-height: 1.18;
    font-family: "Segoe Ui", "sans-serif";
  }
  
  .header {
    z-index: 2;
    width: 1290px;
    height: 107px;
    position: fixed;
    margin: 34px auto;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: transparent;
  }
  
  h3 {
    color: #8f8f8f;
    position: absolute;
    font-size: 30px;
    font-weight: 500;
    left: 57px;
    top: 0px;
    bottom: 35px;
  }
  
  .header .menu {
    color: #FFFCFC; 
    display: flex;
    justify-content: flex-end;
  }  

  .background2 {
    position: relative;
    width: 100vw;
    height: 1443px;
    background-color: #FFFCFC;
  }
  
  .background2 .text-container {
    position: absolute;
    margin: 0 auto;
    left: 0px;
    right: 0px;
    top: 8.7vh;
    width: 680px;
    height: 130px;
  }
  
  .background2 .text1 {
    position: absolute;
    font-size: 45px;
    color: #424647;
  }
  
  .background2 .text1 span {
    color: #ff17cc;
  }
  
  .background2 .text2 {
    position: absolute;
    text-align: center;
    font-size: 20px;
    color: #8f8f8f;
    left: 21.5px;
    bottom: 0px;
  }
  
  .background2 .box-container {
    position: absolute;
    width: 1500px;
    height: 1000px;
    margin: 0 auto;
    left: 0px;
    right: 0px;
    top: 28%;
  }
  
  .background2 .box-container .el-container1 {
    position: absolute;
    left: 0px;
    top: 70px;
    width: 30%;
    height: 43%;
    background: #FFFCFC;
    box-shadow: 0px 3px 56px rgba(0, 0, 0, 16%);
  }
  
  .background2 .box-container .el-container1 img {
    position: absolute;
    width: 25%;
    height: 25%;
    left: 37.5%;
    top: 14%;
  }
  
  .background2 .box-container .el-container1 .E{
    position: absolute;
    color: #000;
    font-size: 35px;
    left: 20%;
    top: 45%;
  }
  
  .background2 .box-container .el-container1 .Y{
    position: absolute;
    color: #747474;
    text-align: center;
    font-size: 25px;
    font-weight: 300;
    left: 8%;
    bottom: 15%;
  }

  .background2 .box-container .el-container2 {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 30%;
    height: 43%;
    background: #FFFCFC;
    box-shadow: 0px 3px 56px rgba(0,0,0,16%);
  }
  
  .background2 .box-container .el-container2 img {
    position: absolute;
    width: 25%;
    height: 25%;
    left: 37.5%;
    top: 14%;
  }
  
  .background2 .box-container .el-container2 .C {
    position: absolute;
    color: #000;
    font-size: 35px;
    left: 30%;
    top: 45%;
  }
  
  .background2 .box-container .el-container2 .H {
    position: absolute;
    color: #747474;
    text-align: center;
    font-size: 25px;
    font-weight: 300;
    left: 8%;
    bottom: 15%;
  }
  
  .background2 .box-container .el-container3 {
    position: absolute;
    top: 0px;
    left: 525px;
    width: 30%;
    height: 43%;
    background: #FFFCFC;
    box-shadow: 0px 3px 56px rgba(0,0,0,16%);
  }
  
  .background2 .box-container .el-container3 img {
    position: absolute;
    width: 25%;
    height: 25%;
    left: 37.5%;
    top: 14%;
  }
  
  .background2 .box-container .el-container3 .A {
    position: absolute;
    color: #000;
    font-size: 35px;
    left: 23%;
    top: 45%;
  }
  
  .background2 .box-container .el-container3 .I {
    position: absolute;
    color: #747474;
    text-align: center;
    font-size: 25px;
    font-weight: 300;
    left: 8%;
    bottom: 15%;
  }
  
  .background2 .box-container .el-container4 {
    position: absolute;
    bottom: 70px;
    left: 525px;
    width: 30%;
    height: 43%;
    background: #FFFCFC;
    box-shadow: 0px 3px 56px rgba(0,0,0,16%);
  }
  
  .background2 .box-container .el-container4 img {
    position: absolute;
    width: 25%;
    height: 25%;
    left: 37.5%;
    top: 14%;
  }
  
  .background2 .box-container .el-container4 .F {
    position: absolute;
    color: #000;
    font-size: 35px;
    left: 23%;
    top: 45%;
  }
  
  .background2 .box-container .el-container4 .N {
    position: absolute;
    color: #747474;
    text-align: center;
    font-size: 25px;
    font-weight: 300;
    left: 8%;
    bottom: 15%;
  }
  
  .background2 .box-container .el-container5 {
    position: absolute;
    right: 0px;
    top: 70px;
    width: 30%;
    height: 43%;
    background: #FFFCFC;
    box-shadow: 0px 3px 56px rgba(0,0,0,16%);
  }
  
  .background2 .box-container .el-container5 img {
    position: absolute;
    width: 25%;
    height: 25%;
    left: 37.5%;
    top: 14%;
  }
  
  .background2 .box-container .el-container5 .M {
    position: absolute;
    color: #000;
    font-size: 35px;
    left: 25%;
    top: 45%;
  }
  
  .background2 .box-container .el-container5 .V {
    position: absolute;
    color: #747474;
    text-align: center;
    font-size: 25px;
    font-weight: 300;
    left: 8%;
    bottom: 15%;
  }
  
  .background2 .box-container .el-container6 {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 30%;
    height: 43%;
    background: #FFFCFC;
    box-shadow: 0px 3px 56px rgba(0,0,0,16%);
  }
  
  .background2 .box-container .el-container6 img {
    position: absolute;
    width: 25%;
    height: 25%;
    left: 37.5%;
    top: 14%;
  }
  
  .background2 .box-container .el-container6 .S {
    position: absolute;
    color: #000;
    font-size: 35px;
    left: 25%;
    top: 45%;
  }
  
  .background2 .box-container .el-container6 .T {
    position: absolute;
    color: #747474;
    text-align: center;
    font-size: 25px;
    font-weight: 300;
    left: 8%;
    bottom: 15%;
  }

  .background3 {
    position: relative;
    z-index: 1;
    width: 100vw;
    height: 1443px;
    background-color: #FFFCFC;
    overflow: hidden;
  }
  
  .background3 .bg {
    position: absolute;
  }
  
  .background3 .bg-gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: linear-gradient(to right, rgba(76, 76, 230, 30%), rgba(255, 0 ,254, 89%));
  }
  
  .background3 .C {
    position: absolute;
    font-size: 40px;
    font-weight: 300;
    left: 30%;
    top: 32%;
  }
  
  .background3 .S {
    position: absolute;
    font-size: 30px;
    font-weight: 200;
    left: 30%;
    top: 44%;
  }
  
  .background3 .btn {
    position: absolute;
    left: 30%;
    top: 56%;
    width: 250px;
    height: 100px;
    background-color: transparent;
    border: 1px solid #FFFCFC;
    border-radius: 50px;
  }
  
  .background3 .btn .F {
    position: absolute;
    font-weight: 300;
    font-size: 30px;
    left: 23%;
    top: 27%;
  }
  
  .background3 .app {
    position: absolute;
    left: 55%;
    top: 21%;
    width: 550px;
    height: auto;
  }